root = true

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = false
indent_style = tab
# CA1050 = Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none
# IDE1006 = naming rule
dotnet_diagnostic.IDE1006.severity = none
# CA1822 = Mark members as static
dotnet_diagnostic.CA1822.severity = none
# IDE0044 = Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none
